@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url(./bg.jpg) no-repeat center center/cover;
  min-height: 100vh;
  font-family: 'Laila', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 5rem;
}

.countdown-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  text-align: center;
}

.box {
  border: 1px solid #ccc;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 7px;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.08);
  min-width: 180px;

}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.box span {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .countdown-container {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
  }

  .box {
    padding: 20px;
  }

  .big-text {
    font-size: 55px;
  }

  .box span {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  body {
    margin: auto;
    max-width: 60%;
  }

  h1 {
    font-size: 22px;
    font-weight: bold;
  }

  .box {
    padding: 13px;
  }

  .big-text {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 20px;
  }

  .countdown-container {
    grid-template-columns: repeat(1, 2fr);
  }

  .box {
    margin: 2px;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-top: 30px;
    font-size: 5px;
    display: none;
  }

  .big-text {
    font-size: 2.0rem;
  }

  .box span {
    font-size: 1.0rem;
  }
}